<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="card">
          <div class="card-header bg-primary">
             <h3 style="color:white">Find CSA </h3>
          </div>
          <div class="card-body">
            <table class="table table-bordered border-primary">
              <thead>
                
                <tr>
                  <th>Product Name</th>
                  <th>Product Price</th>
                  <th>Product <br> Details</th>
                  <th>Opening Time</th>
                  <th>Closing Time</th>
                  <th>Types</th>
                  <th>Features</th>
      
                  <th>Delete</th>
                </tr>
                
      <% if(locals.doctorregister) { %>
        <% var sr = 1; doctorregister.forEach((csa) => { %>
                <tr>
                  <td><%= csa.doctorname %></td>
                  <td><%= csa.email %></td>
                  <td><%= csa.specilityname %></td>
                  <td><%= csa.experience %></td>
                  <td><%= csa.votes %></td>
                  <td><%= csa.clinicfees %></td>
                  <td><%= csa.TimeSlot %></td>
      
                  <td>
                    <input type="button" name="" value="Delete" id="delete">
                  </td>
                </tr>
                
      
      <% sr++; }); %>
      <% } %>
              </thead>
      
            </table>
      
            </div>
            <div class="card-footer">
              .
            </div>
      
          </div>
        </div>
</body>
</html>